.events {
	margin: 60px 0;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	span {
		color: var(--span-text-color);
	}

	button {
		font-size: 24px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: -0.03em;
	}
}
.events__cards {
	display: flex;
	flex-direction: column;
}
.bg_image {
	z-index: -1;
	top: -600px;
	right: -500px;
	position: absolute;
}

@media screen and (min-width: 750px) {
	.bg_image {
		z-index: -1;
		top: -500px;
		right: -300px;
		position: absolute;
	}
}

@media screen and (min-width: 1440px) {
	.events {
		margin: 160px 0;

		button {
			font-size: 40px;
			font-weight: 700;
			line-height: 40px;
			letter-spacing: -0.03em;
		}
	}
	.events__cards {
		margin-bottom: 60px;
	}
}
