.info-line {
	margin-bottom: 60px;
	display: flex;
	background: var(--primary-gradient);
	justify-content: center;

	align-items: center;
	h2 {
		padding: 30px 10px;
		margin: 0;
		font-size: 14px;
		font-weight: 700;
		line-height: 14px;
		letter-spacing: 0em;

		color: white;
	}
}

@media screen and (min-width: 750px) {
	.info-line {
		margin-bottom: 60px;
		background: var(--primary-gradient);
		h2 {
			margin: 0;
			font-size: 25px;
			font-weight: 700;
			line-height: 30px;
			letter-spacing: 0em;
			color: white;
		}
	}
}
@media screen and (min-width: 1284px) {
	.info-line {
		margin-bottom: 160px;
		display: flex;
		background: var(--primary-gradient);
		justify-content: center;

		align-items: center;
		h2 {
			margin: 48px 0;
			font-size: 40px;
			font-weight: 700;
			line-height: 0px;
			letter-spacing: 0em;
			text-align: left;

			color: white;
		}
	}
}

@media screen and (max-width: 390px) {
	.info-line {
		h2 {
			margin: 0;
			font-size: 12px;
			font-weight: 700;
		}
	}
}
