.backButton {
	display: flex;
	align-items: center;
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 25px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -0.03em;
	text-align: left;
	img {
		margin-top: 4px;
		margin-right: 30px;
	}
	&:hover {
		scale: 1.005;
	}
}

@media screen and (max-width: 1440px) {
	.backButton {
		font-size: 20px;
		img {
			margin-right: 20px;
			width: 60px;
		}
	}
}
@media screen and (max-width: 750px) {
	.backButton {
		font-size: 15px;
		img {
			margin-right: 10px;
			width: 50px;
		}
	}
}
