.video-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	span {
		color: var(--span-text-color);
	}

	h2 {
		margin-bottom: 30px;
	}
}
.video-block__content {
	flex-direction: column;
	margin: 0 auto;
	width: 80%;
	display: flex;
	p {
		font-size: 13px;
		line-height: 13px;
		letter-spacing: -0.03em;
		text-align: left;
		font-weight: bold;
	}
}
@media screen and (min-width: 750px) {
	.video-block {
		justify-content: center;
		align-items: center;
	}
	.video-block__content {
		display: flex;

		p {
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			letter-spacing: -0.03em;
			text-align: start;
			margin-right: 39px;
			max-height: 318px;
		}
	}
}
@media screen and (min-width: 1000px) {
	.video-block {
		justify-content: center;
		align-items: center;
	}
	.video-block__content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		p {
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			letter-spacing: -0.03em;
			text-align: start;
			margin-right: 39px;
			max-height: 318px;
		}
	}
}

@media screen and (min-width: 1600px) {
	.video-block {
		margin-bottom: 120px;
		h2 {
			margin-bottom: 60px;
			font-size: 50px;
			font-weight: 700;
			line-height: 50px;
			letter-spacing: -0.03em;
		}
	}
	.video-block__content {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;

		p {
			margin: 0;
			font-size: 24px;
			font-weight: 700;
			line-height: 24px;
			letter-spacing: -0.03em;
			max-height: 400px;
			max-width: 600px;
			text-align: start;
		}
	}
}
