.video-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	span {
		color: var(--span-text-color);
	}
	h2 {
		margin: 60px 0;

		font-size: 50px;
		font-weight: 700;
		line-height: 50px;
		letter-spacing: -0.03em;
	}
}
.video-block__content {
	display: flex;
	max-width: 1025px;

	p {
		font-size: 24px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: -0.03em;

		margin-right: 39px;
		max-height: 318px;
		text-align: start;
	}
}
