.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		margin: 0;
		font-size: 34px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: -0.03em;
	}

	h4 {
		margin: 0;
		font-size: 16px;
		font-weight: 700;
		line-height: 16px;
		letter-spacing: -0.03em;
	}

	button {
		display: flex;
		border-radius: 10px;
		margin: auto;
		margin-top: 30px;
	}
}

.hero__info {
	position: relative;
	margin: 250px 10px 30px 10px;
}

.hero__text {
	display: flex;
	align-items: center;
}

.hero__text--green {
	font-family: "TT-Interphases-Pro-Mono-Trial";
	font-style: normal;

	color: var(--span-text-color);
}

.hero__text-dates {
	padding: 3px 6px;

	color: white;
	border-radius: 5px;
	background-color: #26b018;
	box-shadow: 0px 0px 40px 0px #54545459;
	margin-top: 5px;
	font-size: 15px;
	font-style: italic;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
}

.hero__img1 {
	img {
		width: 60px;
	}
	position: absolute;
	display: block;
	top: 50%;
	left: -8%;
}

// .hero__img2 {
// 	z-index: -1;
// 	position: absolute;
// 	margin: auto;
// 	top: 250px;
// 	right: -130px;
// }

.hero__img3 {
	display: none;
}
.hero__img4 {
	position: absolute;
	display: block;
	top: 0;
}

@media screen and (min-width: 750px) {
	.hero {
		.hero__info {
			margin: 400px 0 60px 0;
		}
		h1 {
			margin: 0;
			font-size: 60px;
			font-weight: 700;
			line-height: 60px;
			letter-spacing: -0.03em;
		}

		h4 {
			margin: 0;
			font-size: 35px;
			font-weight: 700;
			line-height: 24px;
			letter-spacing: -0.03em;
		}

		button {
			padding: 25px;
			border-radius: 15px;
			margin: auto;
			margin-top: 30px;
		}
	}
	.hero__img3 {
		position: absolute;
		display: block;
		top: 0;
	}
	.hero__img4 {
		display: none;
	}
	.hero__img1 {
		img {
			width: 80px;
		}
		position: absolute;
		display: block;
		top: 55%;
		left: 0;
	}
	.hero__text-dates {
		padding: 10px 15px;
		line-height: 25px;
		border-radius: 15px;

		font-size: 25px;
	}
}

@media screen and (min-width: 1284px) {
	.hero {
		.hero__info {
			margin: 650px 0 0 0;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		button {
			display: flex;
			text-align: center;
			margin: 64px 0;
			border-radius: 20px;
		}

		h1 {
			font-size: 120px;
			line-height: 120px;
			margin: 0;
		}

		h4 {
			font-size: 60px;
			line-height: 60px;
			letter-spacing: -0.03em;
			margin: 0;
		}
	}

	.hero__text-dates {
		font-size: 64px;
		line-height: 80px;
		letter-spacing: 0em;
		margin-top: 30px;
		padding: 2px 60px;
		border-radius: 20px;
		img {
			display: none;
		}
	}

	.hero__img1 {
		display: block;
		position: absolute;

		left: 170px;
		bottom: 85px;

		img {
			width: auto;
		}
	}

	.hero__img3 {
		display: none;
	}
}
