.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	position: sticky;
	border-radius: 0;
	backdrop-filter: blur(10px);
}

.navbar__socials-item {
	margin: 0 10px;
	img {
		border-radius: 13px;
		cursor: pointer;
		box-shadow: 0px 0px 10px 0px #54545459;
		transition: all 0.3s ease;
		&:hover {
			box-shadow: 0px 0px 10px 0px #b8b8b859;
		}
	}
}
.navbar__socials-item:first-child {
	margin-left: 0;
}
.navbar__socials {
	display: none;
}
.navbar__navlink {
	display: none;
}
.navbar__logo {
	width: 70px;
}

.navbar__navlinks {
	display: flex;
	align-items: center;
	p {
		font-size: 24px;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover {
			scale: 1.03;
		}
	}
}

.navbar__lang {
	color: white;
	background: var(--primary-gradient);
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 15px;
	display: none;
}
.navbar__burger {
	cursor: pointer;
	img {
		width: 25px;
		height: 25px;
	}
}

.navbar__menu {
	top: 0;
	right: 0;
	width: 50%;
	height: 120vh;
	position: fixed;
	background: radial-gradient(
		451.91% 82.93% at 22.69% 5.35%,
		rgba(252, 252, 252) 0%,
		rgba(84, 179, 95) 47.4%,
		rgba(84, 179, 95) 77.79%,
		rgba(97, 228, 112) 100%
	);
}
.navbar__menu_exit {
	cursor: pointer;
	margin: 10px 10px 0 0;
	display: flex;
	justify-content: end;
	img {
		width: 25px;
	}
}
.navbar__menu_navlinks {
	margin-top: 50px;
	margin-left: 30px;
	display: flex;
	flex-direction: column;
}
.navbar__menu_navlink {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	font-size: 20px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: -0.03em;
	text-align: left;
	img {
		margin-top: 0;
		width: 150px;
	}
}
.active_link {
	transition: all 0.3s ease;

	scale: 1.1;
}
.navbar__menu__footer {
	font-size: 13px;
	margin: 60px 10px 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.navbar__menu__footer__socials {
	margin-top: 15px;
	display: flex;
}
.navbar__menu__footer__socials-item {
	margin: 0 8px;
	img {
		width: 30px;
		border-radius: 10px;
		box-shadow: 0px 0px 10px 0px #54545459;

		&:hover {
			box-shadow: 0px 0px 10px 0px #8f8f8f59;
		}
	}
}
@media screen and (min-width: 750px) {
	.navbar {
		padding: 20px 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.navbar__burger {
		img {
			object-fit: contain;
		}
	}

	.navbar__logo {
		width: 100px;
		height: 50px;
	}

	.navbar__socials-item {
	}

	.navbar__menu_navlink {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		font-size: 32px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: -0.03em;
		text-align: left;
		img {
			margin-top: 20px;
			width: 200px;
		}
	}

	.navbar__menu_exit {
		cursor: pointer;
		margin: 10px 10px 0 0;
		display: flex;
		justify-content: end;
		img {
			width: 30px;
		}
	}
	.navbar__menu__footer {
		font-size: 16px;
	}
}
@media screen and (min-width: 1284px) {
	.navbar {
		border-end-start-radius: 15px;
		border-end-end-radius: 15px;
	}
	.navbar__lang {
		display: block;
	}
	.navbar__burger {
		display: none;
		img {
			width: 40px;
			height: 40px;
		}
	}
	.navbar__socials {
		display: flex;
	}
	.navbar__navlinks {
		display: flex;
		align-items: center;

		.navbar__navlink {
			display: flex;
			font-size: 20px;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: -0.03em;

			margin: 0 30px;
			cursor: pointer;
			transition: all 0.3s ease;
			&:hover {
				scale: 1.03;
			}
		}
	}
	.navbar__logo {
		margin: 0 60px;
		width: 140px;
		height: 72px;
	}
	img {
		object-fit: contain;
	}
}
@media screen and (min-width: 1440px) {
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1250px;
		margin: 0 auto;
	}

	.navbar__socials {
		display: flex;
		justify-content: space-between;
	}
	.navbar__socials-item {
	}
}
