.event-card {
	background: linear-gradient(
		180deg,
		rgba(34, 142, 23, 0.6) 2.6%,
		rgba(0, 0, 0, 0.6) 100%
	);

	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 20px;
	background-image: url;
	color: white;
	font-size: 10px;
	font-weight: 700;
	line-height: 12.5px;
	letter-spacing: 0em;
	position: relative;
	margin: 30px 0;

	box-shadow: 0px 5px 10px 0px #54545459;
	transition: all 0.3s ease;
}
.medium {
	.event-card__info {
		margin: 10px 5px;
		padding-left: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			margin-right: 5px;
		}
		p {
			margin: 5px 0;
			margin-right: 10px;
		}
		button {
			font-size: 16px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0em;
			padding: 8px 20px;
		}
		border-radius: 8px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		background: rgba(255, 255, 255, 0.12);
		backdrop-filter: blur(10px);
	}
	.event-card__title {
		font-size: 13px;
		display: flex;
		justify-content: space-between;
		margin: 10px;
		align-items: center;
		button {
			font-size: 16px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0em;
			padding: 8px 20px;
		}
	}
	width: 370px;
	height: 133.5px;
	border-radius: 10px;
	img {
		top: -30px;
	}
}
.small {
	width: 505px;
	height: 274px;
	h3 {
		margin: 0;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0em;
	}
}

.large {
	.event-card__info {
		margin: 7px;
		display: flex;
		padding-left: 5px;
		img {
			margin-right: 5px;
		}
		p {
			line-height: 6px;
			margin-right: 5px;
			font-size: 8px;
		}
		button {
			font-size: 16px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0em;
			padding: 8px 20px;
		}
		border-radius: 8px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		background: rgba(255, 255, 255, 0.12);
		backdrop-filter: blur(10px);
	}
	.event-card__title {
		font-size: 13px;
		display: flex;
		justify-content: space-between;
		margin: 10px;
		align-items: center;
		button {
			font-size: 13px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0em;
			padding: 8px 15px;
		}
	}
	width: 90%;
	height: 160px;
	p {
		font-size: 10px;
	}
	h3 {
		margin: 0;
		font-size: 13px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0em;
	}
}

.event-card__details {
	display: flex;
	justify-content: space-between;
}

.event-card__bg-image {
	position: absolute;
	z-index: -1;
	width: 100%;
}

@media screen and (min-width: 750px) {
	.event-card {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 20px;
		background-image: url;
		color: white;
		font-weight: 700;
		line-height: 12.5px;
		letter-spacing: 0em;
		position: relative;
		margin: 30px 0;

		box-shadow: 0px 5px 10px 0px #54545459;
		transition: all 0.3s ease;
	}

	.medium {
		font-size: 20px;
		width: 700px;
		height: 200px;
		border-radius: 10px;
		img {
			top: -50px;
		}
		h3 {
			margin: 0;
			font-size: 25px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0em;
		}
		.event-card__title {
			margin: 32px;
			button {
				font-size: 24px;
				font-weight: 700;
				line-height: 34px;
				letter-spacing: 0em;
				padding: 8px 20px;
			}
		}
	}
	.small {
		width: 505px;
		height: 274px;
	}

	.large {
		width: 80%;
		height: 400px;
		min-width: 700px;
		p {
			font-size: 20px;
		}
		h3 {
			margin: 0;
			font-size: 30px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0em;
		}
		.event-card__info {
			margin: 30px;
		}
	}

	.event-card__info {
		padding: 8px;
		width: 550px;
		img {
			margin-right: 12px;
		}
		p {
			font-size: 16px;
			margin: 0;
			margin-right: 12px;
		}
		margin: 14px;
		display: flex;
		align-items: center;
		margin: 20px;

		button {
			font-size: 25px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0em;
			padding: 15px 30px;
		}
	}
	.event-card__title {
		margin: 32px;
		button {
			font-size: 24px;
			font-weight: 700;
			line-height: 34px;
			letter-spacing: 0em;
			padding: 8px 20px;
		}
	}

	.event-card__details {
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (min-width: 1440px) {
	.event-card {
		border-radius: 20px;
	}

	.medium {
		.event-card__info {
			width: 650px;
			p {
				font-size: 20px;
			}
			margin: 36px 32px;
			button {
				margin: 0;
				font-size: 36px;
				font-weight: 700;
				line-height: 36px;
				letter-spacing: -0.03em;
				text-align: left;
			}
		}
		.event-card__title {
			button {
				font-size: 36px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}
		font-size: 24px;

		width: 1200px;
		height: 290px;
		p {
		}
		img {
			top: -90px;
		}
		h3 {
			margin: 0;
			font-size: 36px;
			font-weight: 700;
			line-height: 45px;
			letter-spacing: 0em;
			text-align: left;
		}
	}

	.large {
		.event-card__info {
			width: 800px;
			padding: 20px;
			p {
				font-size: 26px;
			}
			margin: 36px 32px;
		}
		.event-card__title {
			margin: 50px 32px;
			button {
				font-size: 36px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}
		width: 1290px;
		height: 700px;
		p {
			font-size: 32px;
		}
		h3 {
			margin: 0;
			font-size: 55px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0em;
		}
	}

	.event-card__bg-image {
	}
}
