footer {
	padding-bottom: 40px;
	margin-top: 150px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	img {
		width: 200px;
	}
}
@media screen and (max-width: 750px) {
	.copyright {
		text-align: center;
	}
	footer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
