.map {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	span {
		color: var(--span-text-color);
	}
}
.map__infowindow {
	height: 200px;
	overflow-x: hidden;
}

.map__infowindow-list_element {
	cursor: pointer;
	padding: 7px 0;

	&:hover {
		color: black;
		transform: scale(1.1) translate(20px, 0);
		transition: all 0.3s ease;
	}
	h4 {
		margin: 0;
	}
}

@media screen and (min-width: 0px) {
	.map-container {
		margin-top: 60px;
		border-radius: 10px;
		height: 500px;
		width: 90%;
	}
}
@media screen and (min-width: 750px) {
	.map-container {
		border-radius: 10px;
		height: 500px;
		width: 80%;
	}
}
@media screen and (min-width: 1440px) {
	.map-container {
		border-radius: 10px;
		height: 800px;
		width: 1070px;
	}
}
